@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");

:root {
  --bgColor: #1a2838;
  --titleOpacity: 0.2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

*::selection {
  color: #04b8c4;
  background: rgba(200, 200, 200, 0.1);
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #000, 60%, var(--bgColor)) no-repeat;
  color: white;
}

#root {
  font-size: 4rem;
  width: 80vw;
  margin: 4rem auto;
}

h4 {
  font-size: 2em;
  opacity: var(--titleOpacity);
  font-weight: normal;
  cursor: default;
}

#background-arrow {
  position: fixed;
  display: grid;
  place-items: center;
  height: 22.5em;
  aspect-ratio: 1 / 1;
  right: -15rem;
  bottom: -2.5em;
  border: 1em solid white;
  border-radius: 50%;
  opacity: 0.02;
  z-index: -1;
}

#background-arrow__base {
  position: relative;
  width: 2em;
  height: 13.5em;
  background: white;
  border-radius: 1em;
}

#background-arrow__bottom::before,
#background-arrow__bottom::after {
  position: absolute;
  content: "";
  bottom: -1em;
  right: calc(-50% - 1em);
  width: 2em;
  height: 7.5em;
  background: white;
  border-radius: 1em;
  rotate: 45deg;
}

#background-arrow__bottom::after {
  left: calc(-50% - 1em);
  rotate: -45deg;
}
