:root {
  --hoverColor: rgba(200, 200, 200, 0.5);
}

#projects-container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1em;
  flex-wrap: wrap;
}

.projects-container__project {
  height: 200px;
  width: 250px;
}

.project-container__project-title {
  font-size: 2rem;
}

.project-container__project-description {
  font-size: 1rem;
}

.project-container__icon-container {
  display: flex;
  justify-content: space-evenly;
}

.icon-container__logo,
.icon-container__source {
  height: 25px;
  margin: 0 0.2em;
}

.icon-container__source:hover {
  background-color: var(--hoverColor);
  box-shadow: 0 0 5px 5px var(--hoverColor);
}
