#projects-container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1em;
  flex-wrap: wrap;
}

.projects-container__project {
  border: 1px solid white;
  height: 200px;
  width: 250px;
}

.project-container__project-title {
  font-size: 2rem;
}

.project-container__project-description {
  font-size: 1rem;
}

.project-container__icon-container {
  display: flex;
  justify-content: space-evenly;
}

.icon-container__logo,
.icon-container__source {
  width: 25px;
  aspect-ratio: 1 / 1;
}
