#top-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 7.5vw;
  margin-bottom: 2em;
}

#top-container__left {
  position: relative;
}

#top-container__right {
  display: grid;
  height: max-content;
}

h1 {
  margin-block: 2.5rem;
  text-align: right;
  font-weight: normal;
}
